<div class="row">
    <div class="col-md-2">
        <span class="hipster"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" style="text-align: center;">Welcome to LetsShare!</h1>
    </div>
</div>
<div class="about-section">
    <p>Several times we want to help society in times of crisis but aren’t always able to act on it.
    Other times we come across a possession of ours which is perfectly usable but is not of use 
        to us anymore. The challenge in both these situations is the absence of proper channels to 
        connect the initiators or the givers to those who are interested to receive.</p>
        <p>
        We present you with a bi-directional app, a platform where both the ones who need help and those who can help may connect to each other directly.
        The best part is all you need is to register in our app and it will help you reach out to the helpers or those in need of help directly, thus helping third party involvement</p>
    </p>
    </div>